/* body{
    display: flexbox;
    background-image:url(australia.jpg);
    flex-wrap: wrap;
    
} */
.id{
    background-color: darkorange;
    padding: 0;
    border: double;
}
.div1{
    display: flex;
    flex: 2;
    flex-direction:row;
    align-items: center;
    align-content: space-around;
 

}
button{
    height: 2%;
    align-content: left;
    flex-direction: center;
}